{% extends "base.html" %}

{% block content %}
  <h2>Selected Product</h2>
  <div class="product">
    <div class="product-image">
      <img src="{{ get_image_url(selected_product) }}" alt="{{ selected_product.title }}" width="250">
    </div>
    <div class="product-details">
      <h3>{{ selected_product.title }}</h3>
      <p><strong>Product Type:</strong> {{ selected_product.product_type }}</p>
      <p><strong>Vendor:</strong> {{ selected_product.vendor }}</p>
      <p><strong>Tags:</strong> {{ selected_product.tags }}</p>
      <p><strong>Product ID:</strong> {{ selected_product.id }}</p>
    </div>
  </div>

  <h2>Similar Products</h2>
  <div class="products">
    {% for product in similar_products.get() %}
      <div class="product">
        <div class="product-image">
          <img src="{{ get_image_url(product) }}" alt="{{ product.title }}" width="250">
        </div>
        <div class="product-details">
          <h3>{{ product.title }}</h3>
          <p><strong>Product Type:</strong> {{ product.product_type }}</p>
          <p><strong>Vendor:</strong> {{ product.vendor }}</p>
          <p><strong>Tags:</strong> {{ product.tags }}</p>
          <p><strong>Product ID:</strong> {{ product.id }}</p>
          <p><strong>Similarity Score:</strong> {{ product.similarity_score }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
